.add-task-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 10px;
  background-color: lightgray;
  border: 1px solid gray;
  height: 50px;
  gap: 5px;
}

.input-tag {
  padding: 10px 10px;
  outline: none;
  border: 1px solid gray;
  width: 50%;
  font-size: medium;
}
.add-task-btn {
  background-color: green;
  padding: 10px 10px;
  color: white;
  width: 25%;
  border-radius: 5px;
  font-size: large;
  font-weight: bolder;
  border: none;
}

.add-task-btn:hover {
  background-color: black;
  transition: 0.5s;
  color: lightgray;
}
.input-button-container {
  width: 50%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.task {
  border: 1px solid green;
  width: 50%;
  padding: 10px 10px;
  background-color: lightgray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}
.task-container {
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
  gap: 5px;
}
